{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" name="tab" class="sign-in" checked="" type="radio"><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" name="tab" class="sign-up" type="radio"><label for="tab-2" class="tab"></label>
    <div class="login-form">
      <div class="sign-in-htm">
        <form method="POST" action="/login/">
          {% csrf_token %}
          <div class="group">
            <label for="user" class="label">no_control</label>
            <input id="user" class="input" name="no_control" type="text">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" class="input" name = "password" data-type="password" type="password">
          </div>
          <br>
          <div class="group">
            <input class="button" value="Sign In" type="submit">
          </div>
          <div class="hr"></div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
