{% extends 'base.html' %}
{% block title %}Solicitudes{% endblock %}
{% block content %}
<br>
<div class="contentApi">
  <table class="tabla" style="border: 1px solid black;">
    <thead>
      <th class = "semestreth">Semestre</th>
      <th class = "claveth">Clave</th>
      <th class = "nombreth">Nombre</th>
      <th class = "seriesth">Series</th>
    </thead>
    <tbody>
      {% for m in object_list %}
      <tr>
        <td class = "semestreth">{{m.semestre}}</td>
        <td class = "claveth">{{m.clave}}</td>
        <td class = "nombretd">{{m.nombre}}</td>
        <td class = "cuentath">{{m.cuenta}}</td>
      </tr>
      {% endfor %}
    </tbody>


  </table>
</div>
{% endblock %}
