.image{
  position: relative;
  width:30%;
  display: inline-block;
  margin-left: 2.3%;
  height: 400px;
  margin-bottom: 20px;
}
.imageDiv{
  text-align: left;
  padding-left: 65px;
  margin-top: 60px;
}
.image img{
  width: 100%;
  object-fit: cover;
  min-height: 100px;
  max-height: 200px;
}
p strong{
  float: right;
}
.extra{
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.extra img{
  position: absolute;
}
.info{
  width: 100%;
  height: 65px;
  background-color: rgba(131, 131, 131, 0.75);
  position: absolute;
  bottom: 0;
  margin-left: 5px;
}
.info p{
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Roboto', cursive;
  padding-left: 8px;
  padding-right: 13px;
  margin-top: 8px;
}
.options{
  text-align: left;
}
.options a{
  height: 50px;
  font-size: 1.3em;
  font-family: 'Roboto', fantasy;
  border-left: 2px solid rgb(160, 182, 182);
  color: rgb(0, 163, 255);
}
.options a:hover{
  color: white;
}
.options ul{
  text-align: left;
  background-color: rgb(71, 126, 184);
  height: 50px;
}
.options ul li{
  position: relative;
  width: calc(13% - 6px);
  display: inline-block;
  height: 100%;
  text-align: center;
  margin-top: 15px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.title1 {
  color: grey;
  font-size: 18px;
}
.card2 h1{
  font-size: 2em;
  padding-top: 10px;
}
.btn-r1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  height: 80px;
}
.card p{
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.btn-r1:hover, a:hover {
  opacity: 0.7;
}
